
.hor_li, .ver_li {
    font-weight: bold;
}

.clues {
    overflow-y: auto;
    padding: 1em;
    border: $accent $border-width solid;
}

.hidden-words {
    @extend .clues;
    // max-height: 55vh;
}

#new-values {
    margin-top: 1em;
    display: none;
    visibility: hidden;
    overflow-y: auto;
    padding: 1em;
    background-color: #FFFFFF;
    overflow: auto; 
    border: $border-width $accent solid;
}

.overflow-y-auto {
    overflow-y: auto;
}

.flex-height {
    flex: 1;
}

.hideDiv {
    display: none;
    visibility: hidden;
}

ul {
    &.changes_list {
        padding-left: 8px;
    }
}