// .answer {
//     width: 90%;
// }

.hor_li, .ver_li {
    font-weight: bold;
}

.clues {
    overflow-y: auto;
    // scrollbar-gutter: stable;
    padding: 1em;
    border: $accent $border-width solid;
    // background-color: #FFFFFF;

}


.hidden-words {
    @extend .clues;
    // max-height: 55vh;
}


#new-values {
    // position: absolute;
    margin-top: 1em;
    display: none;
    visibility: hidden;
    overflow-y: auto;
    // display: flex;
    // top: 0;
    // right: 0;
    // max-height: 22vh;
    padding: 1em;
    background-color: #FFFFFF;
    overflow: auto; /* Enable scroll if needed */
    border: $border-width $accent solid;
}

// .flex-column {
//     flex-flow: column;
//     height: 100%;
//     overflow-y: auto;

// }

.overflow-y-auto {
    overflow-y: auto;
}

.flex-height {
    flex: 1;
}

.hideDiv {
    display: none;
    visibility: hidden;
}
ul {
    &.changes_list {
        padding-left: 8px;
    }
}