//Utilities

body {
    background-color: #FFFFFF;
    color: $text;
    font-family: "Karla", "Arial Nova", sans-serif;
}

h1 {
    font-size: 1.8em;
    color: $accent;
    text-align: center;
}

// Need to find a way to automate this...
.vh {
    &-10 {
        height: 10vh;
    }
    &-15 {
        height: 15vh;
    }
    &-20 {
        height: 20vh;
    }
    &-30 {
        height: 30vh;
    }
    &-50 {
        height: 50vh;
    }
    &-70 {
        height: 70vh;
    }
    &-80 {
        height: 80vh;
    }
}
 
.mh {
    &-25 {
        max-height: 25vh;
    }
    &-30 {
        max-height: 30vh;
    }
    &-31 {
        max-height: 31vh;
    }

    &-32 {
        max-height: 32vh;
    }

    &-44 {
        max-height: 44vh;
    }


    &-45 {
        max-height: 45vh;
    }

    &-46 {
        max-height: 46vh;
    }

    &-47 {
        max-height: 47vh;
    }

    &-50 {
        max-height: 50vh;
    }
}
h2 {
    font-size: 1.2em;
    color: $accent;
    text-align: center;
    width: 100%;
}

.btn {
    &.btn-dark {
        background-color: $accent !important;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        
        &:hover {
            background-color: $accent_dark !important;
            box-shadow: none !important;
            outline: none !important;
        }
        
        &:active {
            background-color: $accent_dark !important;
            box-shadow: none !important;
            outline: none !important;
        }
    }

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
    border: $border-width $accent solid;
    border-right-width: 0;
}

::-webkit-scrollbar-thumb {
    background: $accent;
}

::-webkit-scrollbar-thumb:hover {
    background: $accent_dark;
}

.result-modal {
    display: none;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: #FFFFFF;
    background-color: rgba(56, 60, 97, 0.5);
  }

#modal-text {
    overflow-y: scroll;
    padding: 1em;
    &::-webkit-scrollbar-track {
        background: #FFFFFF;
        border: none !important;
    }
}
  
.modal-content {
    padding: 0;
    background-color: #FFFFFF;
    margin: 10vh auto 10vh auto;
    max-height: 80vh;
    width: max-content;
    overflow: auto;
    border: $border-width $accent solid;

  }

.no-display {
    opacity: 0;
    font-size: 0;
    color: #FFFFFF;
  }

.close-modal {
    color: $accent;
    float: right;
    position: sticky;
    padding: 0.5em;
    font-size: 1em;
    font-weight: bold;
    &:hover, &:focus {
        color: $accent_dark;
        text-decoration: none;
        cursor: pointer;
    }
  }  


/* For testing */
.border {
    &-green {
        border: green 2px solid;
    }
    &-blue {
        border: blue 2px solid;
    }
    &-red {
        border: red 2px solid;
    }
    &-yellow {
        border: yellow 2px solid;
    }
}