doctype html
head
  title Test Test
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
  // Fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap' rel='stylesheet')
  link(href='static/css/main.css' rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js')
  script(type='text/javascript' src='../Data/Puzzles/Modified/1.json')
  script(src='static/javascript/grid/make_grid.js')
  script(src='static/javascript/grid/modify_grid.js')
  script(src='static/javascript/clues.js')
  script(src='static/javascript/dark_mode.js')
.container
  .row.vh-100
    .col-8
      #table.vh-100.d-flex.align-items-center
    .col.vh-100.d-flex.align-items-center
      .clues.h-75
        ol#clue_list.clue_list
