table {
    &.grid {
    table-layout: fixed;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    display: table;
    }
}

table.grid td {
    border: $text solid $border_width;
    border-collapse: collapse;
    display: inline-block;
    justify-content: center;
    text-align: center;

}

.clue_num {
    position:absolute;
    font-size: 0.8em;
    color: $accent;
}

.value {
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 500;
    font-size: 1.2em;
    text-transform: uppercase;

}

.focused {
        background-color: $light2;
        border: $bright $border-width solid !important;
        color: $bright;
}


.empty_block {
    background-color: $accent;
    border: $text solid $border_width;

    &.left_border {
        border-left-width: $border_width;
    }

    &.no_bottom_border {
        border-bottom-width: 0;
    }
    &.no_top_border {
        border-top-width: 0;
    }

    &.no_right_border {
        border-right-width: 0;
    }
    &.no_left_border {
        border-left-width: 0;
    }
}

